<%= form_with url: contact_path, method: :post, local: true do |f| %>
  <div>
    <%= f.label :name, "Your Name" %>
    <%= f.text_field :name, required: true %>
  </div>

  <div>
    <%= f.label :email, "Your Email" %>
    <%= f.email_field :email, required: true %>
  </div>

  <div>
    <%= f.label :message, "Your Message" %>
    <%= f.text_area :message, required: true %>
  </div>

  <div>
    <%= f.submit "Send Message" %>
  </div>
<% end %>
