<%= form_with model: @contact, url: contacts_path, local: true do |form| %>
  <div class="inp">
    <%= form.text_field :name, required: true, placeholder: "Enter your name*" %>
  </div>

  <div class="inp">

    <%= form.email_field :email, required: true, placeholder: "Enter your email*" %>
  </div>

  <div class="inp">
    <%= form.text_area :message, required: true, placeholder: "Enter your message*" %>
  </div>

  <div class="inp-btn">
    <%= form.submit "Submit" %>
  </div>
<% end %>
